<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Class Scheduler</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="../../classData.json"></script>
  <script src="index.js" charset="utf-8" defer></script>
</head>
  <body>
    <header>
      <div class="header-container">
        <img src="https://www.pngkey.com/png/full/242-2429697_benny-logo-oregon-state-beavers-mascot.png" alt="Left Image" class="header-image">
        <h1>Class Scheduler</h1>
        <img src="https://seeklogo.com/images/O/oregon-state-beavers-logo-8173778425-seeklogo.com.png" alt="Right Image" class="header-image">
      </div>
    </header>
    
    {{{body}}}

  </body>
</html>
