* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: rgb(255, 132, 50);
    padding: 20px 0;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    max-width: 100px;
    height: auto;
    margin: 0 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.calendar {
    display: flex;
    justify-content: space-between;
    flex: 1;
    overflow-y: auto;
    background-color: white;
    border-top: 1px solid black;
}

.day-column {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    flex-grow: 1;
    min-height: 0;
}

.day-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 132, 50);
    color: white;
    padding: 10px;
    border-bottom: 2px solid black;
}

.day-column:last-child {
    border-right: none;
}

.hour-labels {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hour {
    font-size: 15px;
    color: #555;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    text-align: left;
    position: relative;
    padding-left: 0px;
}

.hour:last-child {
    border-bottom: none;
}

.footer-section {
    background-color: rgb(255, 132, 50);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    flex-shrink: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    color: orange;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
